<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager-Requests</title>
    <link rel="stylesheet" href="manager.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div>
                <h1>Welcome back, Manager</h1>
            </div>
            <div class="logout">
                <a href="login"><button class="logout-button">Logout</button></a>
            </div>
        </div>

        <h2>Change Requests</h2>
        <table>
            <thead>
                <tr>
                    <th class="Name">Name</th>
                    <th class="ticketnumber">Ticket Number</th>
                    <th class="DoR">Date and Time of Raising</th>
                    <th class="Issue">Issue</th>
                    <th class="Document">Documents</th>
                    <th class="Document">Manager Approval</th>
                    <th class="ApprovalStatus">Approval Status</th>
                    <th class="SubmitApproval">Make Changes(Enter Ticket Number for Confirmation)</th>
                    <th class="TicketStatus">Ticket Status</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < requests.length; i++) { %>
                    <tr>
                        <td><%= requests[i].nameofraiser %></td>
                        <td><%= requests[i].ticketnumber %></td>
                        <td><%= requests[i].date %></td>
                        <td><%= requests[i].subject %></td>
                        <td><%= requests[i].doc %></td>
                        <td>
                            <% if (requests[i].approval=="yes") { %>
                                <p>Approved</p>
                            <% } else { %>
                                <p>Not Approved</p>
                            <% } %>
                        </td>
                        <td>
                            <form action="" method="post" class="submitchanges">
                            <select name="status">
                                <option id="mcompletion" value="nothing">--Select Status--</option>
                                <option value="yes" >Approved</option>
                                <option value="no" selected>Not Approved</option>
                            </select>
                        </td>
                       <td>
                        <input type="text" id="ticketnumber" name="ticketnumber">
                        <button class="submit-button" >Submit</button></form>
                    </td> 
                    <td>
                        <% if (requests[i].completion=="yes") { %>
                            <p>Closed</p>
                        <% } else { %>
                            <p>Pending</p>
                        <% } %>
                       </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
