<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Profile</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="heading">
                <h1>Profile</h1>
            </div>
            <div class="logout-button-div">
                <a href="login"><button class="logout-button">Logout</button></a>
            </div>
        </div>
        <div class="profile-box">
            <h2>Basic Information</h2>
            <p><strong>Name:</strong> <span class="Name"><%=username %></span></p>
            <p><strong>Role:</strong><span class="Role"><%= role %></span> </p>
            
        </div>
        <div class="raise-ticket-button">
            <a href="/ticket" class="raise-ticket-button-link">Raise a Ticket</a>
        </div>

        <h2>Previous Tickets</h2>
        <table class="ticket-history-table">
            <thead>
                <tr>
                    <th class="Name">Name</th>
                    <th class="Role">Ticket Number</th>
                    <th class="DoR">Date of Raising</th>
                    <th class="Issue">Issue</th>
                    <th class="Document">Documents</th>
                    <th class="status1">Manager Approval</th>
                    <th class="CompletionStatus">Completion Status</th>
                    </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < requests.length; i++) { %>
                    <tr>
                        <td><%= requests[i].nameofraiser %></td>
                        <td><%= requests[i].ticketnumber %></td>
                        <td><%= requests[i].date %></td>
                        <td><%= requests[i].subject %></td>
                        <td><%= requests[i].doc %></td>
                        <td>
                            <% if (requests[i].approval=="yes") { %>
                                <p>Approved</p>
                            <% } else { %>
                                <p>Not Approved</p>
                            <% } %>
                        </td>
                        
                       
                       <td>
                        <% if (requests[i].completion=="yes") { %>
                            <p>Closed</p>
                        <% } else { %>
                            <p>Pending</p>
                        <% } %>
                       </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="print-pdf-button-div">
            <div class="printbutton">
                <form action="" method="post">
                    <input type="hidden">
                    <button class="print-pdf-button">Print PDF</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
